<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <!-- password_confirmation 検証 - 同一検証 -->
  <!--
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </div>
  -->

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <!-- confirmation 検証 - 同一検証 -->
  <!--
  <div class="field">
    <%= f.label :email_confirmation %><br />
    <%= f.text_field :email_confirmation %>
  </div>
  -->

  <div class="field">
    <%= f.label :dm %>
    <%= f.check_box :dm %>
  </div>


  <div class="field">
    <%= f.label :roles %>
    <%= f.text_field :roles %>
  </div>

  <!-- acceptance検証 - 受諾検証 -->
  <!--
  <div class="field">
    <%= f.label :agreement %><br />
    <%= f.check_box :agreement %>
  </div>
  -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
