
<p>
<img src="http://www.wings.msn.to/books/<%= @book.isbn%>/<%= @book.isbn%>_logo.jpg" width="80" height="30" /><br />
<%= @book.title %><br />
<%= @book.publish %>/発行<br />
定価 <%= @book.price %>円（＋税）<br />
ISBN <%= @book.isbn %><br />
発刊日： <%= @book.published %>
</p>

<%
=begin
%>
<p>
<%# リストに連番を付与 %>
<%#=book_iteration.index + 1 %>
<% type = :details if type.nil? %>
<% if type == :details %>
<img src="http://www.wings.msn.to/books/<%= book.isbn%>/<%= book.isbn%>_logo.jpg" width="80" height="30" /><br />
<% end %>
<%= book.title %><br />
<%= book.publish %>/発行<br />
定価 <%= book.price %>円（＋税）<br />
ISBN <%= book.isbn %><br />
発刊日： <%= book.published %>
</p>
<%
=end
%>

<%
=begin
%>
<% cache(book) do %>
<img src="http://www.wings.msn.to/books/<%= book.isbn%>/<%= book.isbn%>_logo.jpg" width="80" height="30" /><br />
<%= book.title %><br />
<%= book.publish %>/発行<br />
定価 <%= book.price %>円（＋税）<br />
ISBN <%= book.isbn %><br />
発刊日： <%= book.published %>
<% end %>
<%
=end
%>

<%
=begin
%>
<% cache(book) do %>
<img src="http://www.wings.msn.to/books/<%= book.isbn%>/<%= book.isbn%>_logo.jpg" width="80" height="30" /><br />
<%= book.title %><br />
<%= book.publish %>/発行<br />
定価 <%= book.price %>円（＋税）<br />
ISBN <%= book.isbn %><br />
発刊日： <%= book.published %><br />
レビュー：<ul><%= render book.reviews %></ul>
<% end %>
<%
=end
%>

<%
=begin
%>
<%# cache(book) do %>
<% cache_if(book.published <= Date.today ,book) do %>
<img src="http://www.wings.msn.to/books/<%= book.isbn%>/<%= book.isbn%>_logo.jpg" width="80" height="30" /><br />
<%= book.title %><br />
<%= book.publish %>/発行<br />
定価 <%= book.price %>円（＋税）<br />
ISBN <%= book.isbn %><br />
発刊日： <%= book.published %><br />
レビュー：<ul><%= render book.reviews %></ul>
<% end %>
<%
=end
%>