<!DOCTYPE html>
<html>
<head>
  <title>Railbookサンプル</title>
<%
=begin
%>
  <title><%= @title ? @title : 'Rails入門' %></title>
<%
=end
%>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<%
=begin
%>
<%= content_for?(:content) ? yield(:content) : yield %>-->
<%
=end
%>

</body>
</html>
